body {
    background: linear-gradient(to right, #0072ff, #8000ff);
    font-family: Arial, sans-serif;
}

.container {
    text-align: left;
    margin: 0 auto;
    width: 80%; /* Adjust this to control the width of the container */
    max-width: 800px; /* Prevent the container from becoming too wide on large screens */
}

.form-container {
    background-color: #ffffff;
    padding: 40px; /* Increase padding */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    width: 100%; /* Add a width */
    max-width: 800px; /* Add a max-width to prevent the container from becoming too wide on large screens */
    margin: 0 auto; /* Center the container */
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

.answer-text {
    font-size: 1.5em;
    color: #333;
}

.reset-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #0072ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #0056b3;
}