<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-white text-primary text-center py-3 px-3 mb-4 rounded">
        <h1 class="font-weight-bold">KTP Project: Cleaning Guide</h1>
    </header>
    <div class="container">
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </div>
</body>
</html>