{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
    <div class="form-container">
        <h1 class="mb-4">{{ question }}</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% for subfield in form.answer %}
                    <div class="custom-control custom-radio mb-2">
                        {{ subfield(class="custom-control-input") }} 
                        <label class="custom-control-label">
                            {{ subfield.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary btn-block") }}
        </form>
    </div>
</div>
{% endblock %}