{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
    <div class="form-container">
        <h1 class="mb-4">{{ question }}</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="grid-container">
                {% for subfield in form.answer %}
                    <div class="grid-item">
                        {% set data = subfield.data[0] if subfield.data | is_list and subfield.data|length > 0 else subfield.data %}
                        <label style="cursor: pointer;">
                            {% set found = false %}
                            {% for ext in ['.jpg', '.png', '.jpeg'] if not found %}
                                {% set filename = data + ext %}
                                {% if filename in filenames %}
                                    <img src="{{ url_for('static', filename=filename) }}">
                                    {% set found = true %}
                                {% endif %}
                            {% endfor %}
                            <div class="custom-control custom-radio mb-2">
                                {{ subfield(class="custom-control-input") }} 
                                <span class="custom-control-label">
                                    {{ subfield.label }}
                                </span>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary btn-block") }}
        </form>
    </div>
</div>
{% endblock %}